version: '3.9'

services:
  # --- Head 节点 ---
  ray-head:
    image: rayproject/ray:2.50.1-gpu  # 使用官方 GPU 镜像
    container_name: ray-head
    restart: always
    ports:
      - "6379:6379"    # GCS 端口
      - "8265:8265"    # Dashboard 端口
      - "10001:10001"  # Ray Client 端口
    shm_size: '4gb'    # 根据物理内存调整，建议总内存的 30%
    networks:
      - ray-net
    volumes:
      - ./logs/head:/tmp/ray
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              #count: all  # 如果 Head 也参与 GPU 计算，设置为 all 或 1
              device_ids: ['0']
              capabilities: [gpu]
    env_file:
      - .env
    command: >
      ray start --head 
      --port=6379 
      --dashboard-host=0.0.0.0 
      --num-gpus=1 
      --disable-usage-stats
      --block

  # --- Worker 节点 ---
  ray-worker:
    image: rayproject/ray:2.50.1-gpu
    restart: always
    depends_on:
      - ray-head
    shm_size: '4gb'
    volumes:
      - ./logs/workers:/tmp/ray
    networks:
      - ray-net
    deploy:
      replicas: 1  # 启动 1 个 Worker 容器
      resources:
        reservations:
          devices:
            - driver: nvidia
              #count: 1  # 每个 Worker 容器分配 1 块 GPU
              device_ids: ['2']
              capabilities: [gpu]
    command: >
      ray start 
      --address=ray-head:6379 
      --num-gpus=1 
      --block

networks:
  ray-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
